@import "./reset.css";

:root {
    --dark: #212021;
    --dark-light: #2B2A2B;
    --white-text: #fff;
    --orange: #C26047;
    --padding-link: 7px 15px;
    --font-text: Inter, sans-serif;
}
body{
    color: var(--white-text);
    font-size: 22px;
    z-index: 20;
    display: block;
}
.container{
    width: 100%;
    max-width: 1350px;
    padding: 0 50px;
    margin: 0 auto;
}
.title{
    text-align: center;
    color: #FFF;
    font-family: var(--font-text);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
}
.sup-title{
    font-family: var(--font-text);
    color: var(--orange);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 18px;
}
.mobile_menu,
.btn_burger{
    display: none;
}
.btn_burger {
    appearance: none;
    outline: none;
    background: transparent;
    position: relative;
    width: 31px;
    height: 21px;
    border-bottom: 3px solid var(--white-text);
    display: none;
}
.btn_burger::after {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--white-text);
    position: absolute;
    left: 0;
    top: calc(50% + 1px);
    transform: translateY(-50%);
}
.btn_burger::before {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--white-text);
    position: absolute;
    left: 0;
    top: 0;
}

/*header    */
header{
    background-color: var(--dark);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;
}
.header_list{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}
.header_list a{
    font-family: var(--font-text);
    padding: var(--padding-link);
    transition: all .3s ease-in-out;
    border-radius: 7px;
}
.header_list a:hover{
    background-color: var(--dark-light);
}

/*header and*/
/*main*/
main{
    background: linear-gradient(180deg, #212021 0%, #2B2A2B 18.21%);
}
.about{
    padding: 56px 0 126px;
}
.about-up{
    display: flex;
    gap: 71px;
    justify-content: space-between;
    margin-bottom: 75px;
}
.photo{
    position: relative;
    width: 600px;
    height: initial;

}
.photo-img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    border-radius: 20px;

}
.name{
    color: #FFF;
    font-family: var(--font-text);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 18px;
}
.about-text{
    max-width: calc(70% - 71px);
    height: initial;
}
.text{
    font-family: var(--font-text);
    color: var(--white-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.about-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-info{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}
.info-row>span{
    color: var(--orange);
    font-family: var(--font-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
    margin-right: 15px;
}
.info-row{
    width: calc(100% / 2);
    color: var(--white-text);
    font-family: var(--font-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
    transition: all .3s ease-in-out;
}
.info-row--link:hover{
    scale: 1.05;
}
.about-btn{
    display: flex;
    gap: 45px;
}
.button{
    color: var(--white-text);
    font-family: var(--font-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 61px;
    border-radius: 7px;
    border: 1px solid var(--orange);
    transition: all .3s ease-in-out;
    opacity: 0.6;
}
.button:hover{
    opacity: 1;

}
.button--color{
    background-color: var(--orange);
    padding: 0 22px;
}
.button--opacity{
    padding: 0 51px;
}
/*about end*/
/*skills*/
#skills-stack{
    background-color: var(--dark);
    padding: 90px 0;
    margin-right: 38px;
    margin-bottom: 124px;
    border-radius: 0 39px 39px 0;
}
.title--skills-stack{
    margin-bottom: 56px;
}
.hard,
.soft{
    width: 100%;
    padding-left: 19px;
    text-align: center;
}
.hard-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 17px 21px;
    margin-bottom: 83px;
}
.hard-list>li{
    padding: 0 40px;
    border-radius: 7px;
    background-color: var(--dark-light);
    color: var(--white-text);
    font-family: var(--font-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
}
.soft-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 50px;

}
.soft-list>li{
    width: calc(100% / 3 - 50px);
    color: var(--white-text);
    font-family: var(--font-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
}
/*skill end */
/*project*/
.title--project{
    margin-bottom: 85px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: space-between;
    margin-bottom: 75px;
}
.project_picture{
    width: calc(100% / 3 - 55px);
    position: relative;
    height: initial;
    transition: all .3s ease-in-out;
    border-radius: 20px;

}
.project_picture:hover{
    scale: 1.03;
    transform: translateY(-10px);
    box-shadow: -10px 15px 50px 0 rgba(255, 255, 255, 0.31), 10px 10px 50px 0 rgba(255, 255, 255, 0.25);
}
.project_picture>picture{
    width: 100%;
}
.project_img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}
.project_down{
    text-align: center;
}
.btn--project{
    padding: 17px 80px 17px 27px;
    position: relative;
}
.btn--project::after{
    content: "";
    position: absolute;
    background-image: url("./svg/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 46px;
    height: 23px;
    top: 33%;
    right: 17px;
}
.sup-title--project{
    margin: 145px 0 81px 0;
}
/*project end*/
/*contacts*/

#contacts{
    background-color: var(--dark);
    padding: 102px 0;
    margin: 0 0 133px 38px;
    border-radius: 39px 0 0 39px;
}
.contacts{
    /*width: calc(100% + 38px);*/
    padding-right: 19px;
    text-align: center;
}
.contacts_svg{
    color: var(--white-text);
    fill:var(--white-text);
    width: 55px;
    height: 55px;
    object-fit: cover;
}
.contacts_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 0 100px;
}
.contacts_info_block{
    display: flex;
    align-items: center;
    gap: 50px;
    text-align: left;
}
.contacts_info_block_text{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.contacts_info_block_text>p,
.contacts_info_block_text>a{
    font-family: var(--font-text);
}
.contacts_info_block_text>a{
    text-decoration: underline;
    transition: all .3s ease-in-out;
}
.contacts_info_block_text>a:hover{
    transform: translateY(-5px);
}
.social_list{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.contact-link{
    display: flex;
    font-size: 46px;
    fill: var(--white-text);
    width: 50px;
    height: fit-content;
    object-fit: fill;
    transition: all .3s ease-in-out;
}
.contact-link:hover{
    transform: translateY(-5px);
    scale: 1.05;
}
/*contacts end*/
#footer{
    background: linear-gradient(180deg, #212021 0%, #2B2A2B 100%);
    padding: 40px 0;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_svg{
    fill: var(--white-text);
    width: 50px;
    transition: all .3s ease-in-out;
}
.footer_svg:hover{
    animation: footer_svg 1s infinite linear;

}
@keyframes footer_svg{
    0%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(-7px);
    }
}
/*mob*/
@media (max-width: 1255px) {
    .container{
        padding: 0 25px;
    }
    .text,
    .info-row{
        font-size: 16px;
    }

    .about-info{
        width: 45%;
    }
}
@media (max-width: 1125px) {
    .header_list {
        gap: 35px;
        font-size: 18px;
    }
    .info-row{
        width: 100%;
    }
    .about {
        padding: 27px 0 62px;
    }
    .about-btn{
        flex-direction: column;
    }
    .about-down {
        justify-content: center;
    }
    .about-text>.name,
    .about-text>.sup-title{
        margin-bottom: 0;
    }
    .about-up{
        margin-bottom: 35px;
    }
    #skills-stack {
        background-color: var(--dark);
        padding: 45px 0;
        margin-bottom: 65px;
    }
    .name{
        font-size: 42px;
    }
    .title{
        font-size: 46px;
    }
    .hard-list>li,
    .soft-list>li,
    .contacts_info_block_text{
        font-size: 18px;
    }
    .hard-list {
        margin-bottom: 40px;
    }
    .title--skills-stack {
        margin-bottom: 25px;
    }
    .title--project {
        margin-bottom: 40px;
    }
    .projects {
        gap: 25px;
        margin-bottom: 35px;
    }
    .project_picture {
        width: calc(100% / 3 - 25px);
        border-radius: 15px;
    }
    .sup-title--project {
        margin: 70px 0 40px 0;
    }
    #contacts {
        background-color: var(--dark);
        padding: 50px 0;
        margin: 0 0 65px 38px;
    }
    .contacts_svg {
        width: 35px;
        height: 35px;
    }
    .contacts_info_block {
        gap: 25px;
    }
}
@media (max-width: 800px) {
    .sup-title {
        font-size: 22px;
        line-height: 40px;
    }
    nav {
        padding: 15px 0;
    }
    .logo>svg{
        scale: 0.8;
    }
    .hard-list>li{
        padding: 0 20px;
    }
    .project_picture {
        width: calc(100% / 2 - 25px);
    }
    .social_list {
        gap: 25px;
        flex-wrap: wrap;
    }
    .contact-link {
        width: 36px;
        font-size: 32px;
    }
    .contacts_info_block--hide{
        display: none;
    }
    .about-up {
        gap: 40px;
        margin-bottom: 50px;
    }
    .footer>p,
    .footer>a{
        font-size: 16px;
    }
    .footer_svg {
        width: 25px;
    }
    .about-up{
        flex-direction: column;
        align-items: center;
    }
    .about-text {
        max-width: 100%;
    }
    .photo{
        width: 65%;
    }
    .soft-list>li {
        width: calc(100% / 2 - 15px);
        font-size: 18px;
    }
    .about-down {
        justify-content: space-between;
    }
    .button--color {
        padding: 0 10px;
        text-align: center;
    }
    .button--opacity {
        padding: 0 25px;
        text-align: center;
    }
    .header_list{
        display: none;
    }
    .btn_burger,
    .header_list--mobile{
        display: block;
    }
    .mobile_menu {
        transform: translateY(calc(-100% - 81px));
        pointer-events: none;
        position: absolute;
        top: 81px;
        width: 100%;
        left: 0;
        padding: 33px 25px;
        background: var(--dark-light);
        transition: all .5s ease-in-out;
        display: flex;
        justify-content: space-between;
        z-index: -1;

    }
    .mobile_menu.is-active {
        pointer-events: initial;
        width: 100%;
        left: 0;
        transform: translateY(0cm);
        z-index: 99;
    }
    .header_list--mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

    }
    .header_list--mobile>li{
        display: flex;
    }
    .button{
        font-size: 18px;
    }
    .btn--project {
        padding: 12px 50px 12px 12px;
        position: relative;
    }
    .btn--project::after {
        width: 38px;
        height: 14px;
        top: 37%;
        right: 3px;
    }
    
}
@media (max-width: 580px) {
    .about-down {
        flex-direction: column;
        gap: 25px;
    }
    .about-info {
        width: 100%;
    }
    .info-row{
        width: 100%;
    }
    .about-btn {
        flex-direction: row;
    }
    .contacts_info {
        margin: 40px 0;
    }
    .contacts_info_block {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .soft-list {
        gap: 15px;
    }
    .photo{
        width: 75%;
    }
    .text,
    .info-row,
    .hard-list>li,
    .soft-list>li,
    .contacts_info_block_text{
        font-size: 14px;
    }

}