@import "./reset.css";

:root {
    --dark: #212021;
    --dark-light: #2B2A2B;
    --white-text: #fff;
    --orange: #C26047;
    --padding-link: 7px 15px;
    --font-text: Inter, sans-serif;
}
body{
    color: var(--white-text);
    font-size: 22px;
}
.container{
    width: 100%;
    max-width: 1350px;
    padding: 0 50px;
    margin: 0 auto;
}
.title{
    text-align: center;
    color: #FFF;
    font-family: var(--font-text);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
}
.sup-title{
    font-family: var(--font-text);
    color: var(--orange);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 18px;
}
/*header    */
header{
    background-color: var(--dark);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;
}
.header_list{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}
.header_list a{
    padding: var(--padding-link);
    transition: all .3s ease-in-out;
    border-radius: 7px;
}
.header_list a:hover{
    background-color: var(--dark-light);
}

/*header and*/
/*main*/
main{
    background: linear-gradient(180deg, #212021 0%, #2B2A2B 18.21%);
}
.about{
    padding: 56px 0 126px;
}
.about-up{
    display: flex;
    gap: 71px;
    justify-content: space-between;
    margin-bottom: 75px;
}
.photo{
    position: relative;
    width: 600px;
    height: initial;

}
.photo-img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    border-radius: 20px;

}
.name{
    color: #FFF;
    font-family: var(--font-text);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 18px;
}
.about-text{
    max-width: calc(70% - 71px);
    height: initial;
}
.text{
    font-family: var(--font-text);
    color: var(--white-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.about-down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-info{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
}
.info-row>span{
    color: var(--orange);
    font-family: var(--font-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
    margin-right: 15px;
}
.info-row{
    width: calc(100% / 2);
    color: var(--white-text);
    font-family: var(--font-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
    transition: all .3s ease-in-out;
}
.info-row--link:hover{
    scale: 1.05;
}
.about-btn{
    display: flex;
    gap: 45px;
}
.button{
    color: var(--white-text);
    font-family: var(--font-text);
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 61px;
    border-radius: 7px;
    border: 1px solid var(--orange);
    transition: all .3s ease-in-out;
    opacity: 0.6;
}
.button:hover{
    opacity: 1;

}
.button--color{
    background-color: var(--orange);
    padding: 0 22px;
}
.button--opacity{
    padding: 0 51px;
}
/*about end*/
/*skills*/
#skills-stack{
    background-color: var(--dark);
    padding: 90px 0;
    margin-right: 38px;
    margin-bottom: 124px;
    border-radius: 0 39px 39px 0;
}
.title--skills-stack{
    margin-bottom: 56px;
}
.hard,
.soft{
    width: calc(100% + 38px);
    padding-left: 19px;
    text-align: center;
    margin-bottom: 83px;
}
.hard-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 17px 21px;
}
.hard-list>li{
    padding: 0 40px;
    border-radius: 7px;
    background-color: var(--dark-light);
    color: var(--white-text);
    font-family: var(--font-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
}
.soft-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 50px;

}
.soft-list>li{
    width: calc(100% / 3 - 50px);
    color: var(--white-text);
    font-family: var(--font-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 61px;
}
/*skill end */
/*project*/
.title--project{
    margin-bottom: 85px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}
.project_picture{
    width: calc(100% / 3 - 55px);
    position: relative;
    height: initial;
    transition: all .3s ease-in-out;
}
.project_picture:hover{
    scale: 1.03;
    transform: translateY(-10px);
}
.project_picture>picture{
    width: 100%;
}
.project_img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}
